[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pjyoon316
[access "refs/for/refs/*"]
	read = group user/pjyoon316
	push = group user/pjyoon316
	label-Code-Review = -2..+2 group user/pjyoon316
	label-Verified = -1..+1 group user/pjyoon316
	rebase = group user/pjyoon316
	removeReviewer = group user/pjyoon316
	submit = group user/pjyoon316
[access "refs/heads/*"]
	read = group user/pjyoon316
	create = group user/pjyoon316
	push = +force group user/pjyoon316
	pushMerge = group user/pjyoon316
[access "refs/tags/*"]
	push = +force group user/pjyoon316
	pushTag = group user/pjyoon316
	pushSignedTag = group user/pjyoon316
